---
import Layout from "../layouts/Layout.svelte";
import { getAllPostsUnsorted } from "../lib/blog";
import BlogPostLink from "../components/BlogPostLink.svelte";

const unsortedPosts = await getAllPostsUnsorted();
---

<Layout title="Blog | Eetu Mäenpää">
  <main>
    <h1>Blog</h1>
    {
      [...unsortedPosts]
        .sort((a, b) => b.frontmatter.releaseDate.getTime() - a.frontmatter.releaseDate.getTime())
        .map((post) => (
          post.frontmatter.type === "blog" ? <BlogPostLink
            title={post.frontmatter.title}
            slug={post.frontmatter.slug}
            excerpt={post.frontmatter.excerpt}
            releaseDate={post.frontmatter.releaseDate}
            type={post.frontmatter.type}
          /> : <BlogPostLink 
            title={post.frontmatter.blogTitle}
            slug={post.frontmatter.slug}
            excerpt={post.frontmatter.description}
            releaseDate={post.frontmatter.releaseDate}
            type={post.frontmatter.type}
          />
        ))
    }
  </main>
</Layout>
