---
import Layout from "../layouts/Layout.astro";
import { getAllPostsUnsorted } from "../lib/blog";
import BlogPostLink from "../components/BlogPostLink.astro";

const unsortedPosts = await getAllPostsUnsorted();
---

<Layout title="Blog | Eetu Mäenpää">
  <main>
    <h1>Blog</h1>
    {
      [...unsortedPosts]
        .sort((a, b) => new Date(b.releaseDate).getTime() - new Date(a.releaseDate).getTime())
        .map((post) => (
          post.type === "blog" ? <BlogPostLink
            title={post.title}
            slug={post.slug}
            excerpt={post.excerpt}
            releaseDate={new Date(post.releaseDate)}
            type={post.type}
          /> : <BlogPostLink 
            title={post.blogTitle}
            slug={post.slug}
            excerpt={post.description}
            releaseDate={new Date(post.releaseDate)}
            type={post.type}
          />
        ))
    }
  </main>
</Layout>
