---
import Layout from "../layouts/Layout.astro";
import BlogPostLink from "../components/BlogPostLink.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog");
const projects = await getCollection("project");

const unsortedPosts = [...blogs, ...projects];
---

<Layout title="Blog | Eetu Mäenpää">
  <main>
    <h1>Blog</h1>
    {
      [...unsortedPosts]
        .sort((a, b) => new Date(b.data.releaseDate).getTime() - new Date(a.data.releaseDate).getTime())
        .map((post) => (
          post.collection === "blog" ? <BlogPostLink
            title={post.data.title}
            slug={post.slug}
            excerpt={post.data.excerpt}
            releaseDate={new Date(post.data.releaseDate)}
            type={post.collection}
          /> : <BlogPostLink 
            title={post.data.blogTitle}
            slug={post.slug}
            excerpt={post.data.description}
            releaseDate={new Date(post.data.releaseDate)}
            type={post.collection}
          />
        ))
    }
  </main>
</Layout>
