---
interface Props {
  slug: string;
  releaseDate: Date;
  type: "project" | "blog";
  title: string;
  excerpt: string;
}

const { type, excerpt, releaseDate, slug, title } = Astro.props;

import { displayDate } from "../lib/dateUtils";
import ColoredSquare from "./ColoredSquare.astro";

const slugStart = (
  {
    project: "projects",
    blog: "blog",
  } as const
)[type];
---

<div class="container">
  <ColoredSquare seed={slug} />
  <div>
    <h3>
      <a href={`/${slugStart}/${slug}`}>{title}</a>
    </h3>
    <div class="metadata-container">
      <p>{displayDate(releaseDate)}</p>
      <p>{excerpt}</p>
    </div>
  </div>
</div>

<style>
  h3 {
    margin: 0 !important;
  }
  .container {
    display: flex;
    padding: 12px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: top;
    gap: 12px;
  }
  .metadata-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .metadata-container p {
    margin: 0;
  }
</style>
