---
interface Props {
  title: string;
  description: string;
  links: {
    title: string;
    href: string;
  }[];
  image: {
    src: string;
    alt: string;
  } | undefined;
}

import LinkCollection from "./LinkCollection.astro";

const { title, description, links, image } = Astro.props;
---

<section>
  <h3>{title}</h3>
  <LinkCollection links={links} />
  <p>{description}</p>
  {image && <img src={image.src} alt={image.alt} />}
  <slot />
</section>

<style>
  section {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
</style>
